.mainSprintScreen {
  display: flex;
}

.SprintScreenContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
}

.tareasSprintHeader {
  display: flex;
  justify-content: space-between;
}

.addTareaButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sprintScreen {
  padding: 1rem;
}

.tareasContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.apartado {
  flex: 1;
  min-width: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.apartadoTitulo {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.tareas {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
