.mainBacklog{
  display: flex;
}

.BacklogScreenContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
}

.tareasHeader {
  display: flex;
  justify-content:space-between

}
.addTareaButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

